/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0d369f;
    --secondary-color: #ff6e65;
    --bg-color: #fff;
    --bg-color: #fff;
    --heading-color: #060606;
}

.dark {
    --primary-color:#4867b0;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
}

body a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
}

/* TOP HEADER */

.topHeader {
    background-color: var(--primary-color);
    padding: 14px 15px;
    z-index: 100;
}

.topHeader li {
    display: inline-block;
    margin-right: 30px;
}

.topHeader a {
    color: #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}

.topHeader a:hover {
    color: var(--secondary-color);
}

.topHeader .topHeader__left i {
    margin-right: 8px;
    color: #fff;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-7%);
}

.topHeader .topHeader__left li:last-child i {
    transform: translateY(0%);
    font-size: 15px;
} 

.topHeader .topHeader__left .mailIcon {
    font-size: 15px;
}

.topHeader .topHeader__right i {
    font-size: 14px;
}



/* DARK THEME */

.dark .topHeader {
    background-color: var(--primary-color);
}


/* HEADER */



header {  
    height: 90px;
    display: grid;
    align-items: center;
    background-color: transparent;
    transition: all 0.5s ease;
}

header .showIcon  .fa-bars {
    display: none;
}

.navbar-togglerg .fa-xmark {
    display: none;
}

.navbar-toggler.showIcon  .fa-xmark {
    display: block;
}

.header__fix {
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}

.header__fixnav {
    padding: 0px;
    border-bottom: none;
    z-index: 999 ;
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
}

.header__fixnav .navbar .navbar-brand img {
    margin-top: -7px;
}

.header__fixnav .navbar .navbar-brand span {
    margin-top: -5px;
}

.header__fixnav .navbar .form-inline {
    margin: -6px 10px 0 10px;
}

.header__fixnav .navbar .navbar-nav {
    margin-top: -5px;
}

.header__fixnav .navbar .header__darklight {
    margin-top: -5px;
}

.header__fixnav .gg-moon,.header__fixnav .gg-moon:after {
    color: #060606;
    color: #060606;
}

.navbar {
    justify-content: center;
    align-items: center;
}

.navbar span {
    font-size: 26px;
    font-weight: 600;
    color: var(--primary-color);
    transition: all 0.5s;
}

.navbar span:hover {
    color: var(--secondary-color);
}

.navbar .navbar-brand {
    margin-top: 10px;
    padding: 0;
    font-size: 26px;
    font-weight: 600;
}

.navbar .navbar-brand img {
    margin-top: -2px;
}

header .nav-item {
    padding: 0 12px;
    position: relative;
}

header .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: all 0.5s;
 
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 0;
    margin:0;
}

.navbar-expand-lg .navbar-nav .nav-item:nth-child(3) .nav-link {
    margin-right: 12.5px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 6px;
    margin-right: 6px;
    margin-left: -4.5px;
} 

header .nav-link:hover {
    color: var(--secondary-color);
}

.dropdown-menu {
    min-width: 12rem;
    padding: 1rem 0;
}

a.dropdown-item {
    font-size: 16px;
    color: #060606;
    color: #060606;
    padding: 5px 24px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s;
}

.dropdown-toggle::after {
    display: none;
}
header .nav-item i {
    position: absolute;
    color: #8b8b8b;
    font-size: 10px;
    top: 10.5px;
    right: 11.5px;
    transition: all 2s;
  
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}


a.dropdown-item:hover {
    color: var(--secondary-color);
    background-color: transparent;
}

header .header__inputsearch input {
    font-size: 15px;
    color: #060606;
    color: #060606;
    border: none;
    background: transparent;
    padding: 9px 35px 10px 20px;
    width: 100%;
    height: 46px;
    border-radius: 30px;
    border: 2px solid #eee;
    
}

header .form-inline {
    position: relative;
    margin: 0 10px 0 10px;
}

.form-control:focus {
    color:white;
    background-color: none;
    border-color:white;
    outline: none;
    box-shadow: none;
}

button.search-btn {
    position: absolute;
    color: var(--primary-color);
    right: 0px;
    bottom: 10px;
    padding: 0px 20px 0px 0px;
    transition: all 0.5s;
    font-size: 15px;
    font-weight: 600;
}

button.search-btn:hover {
    color: var(--secondary-color);
}

header .active .nav-link {
    color: var(--secondary-color);
}

.darklight {
    width: 24px;
    height: 24px;
    padding: 0px 0;
    margin-left: 10px;
    color: var(--primary-color);
    border: none;
    text-decoration-color: none;
    background-color: white;
    transition: all 0.5s;
    background-color: transparent;

    
}

.darklight:hover {
    color: var(--secondary-color);
}

.darklight i {
    font-size: 15px;
   
}


.darklight i.gg-moon {
    display: block;
    cursor: pointer;
    margin-top: 3px;
    
}

.darklight .gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}

.darklight .gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}

.darklight .gg-moon, .gg-moon:after {
     display: block;
     border-radius: 50%;
}   

.darklight .gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}

.darklight .gg-sun:after, .gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}

.darklight .gg-sun, .gg-sun:after, .gg-sun:before {
    display: block;
    width: 24px;
}

.darklight .gg-sun:before {
    transform: rotate(-45deg);
}

.darklight .gg-sun:after {
    transform: rotate(45deg);
}

.darklight .gg-sun {
    display: none;
}
/* DARK THEME */

.dark .navbar span,.dark .navbar .nav-link {
    color: white;
}

.dark .navbar span:hover,.dark .navbar .nav-link:hover{
    color: var(--secondary-color);
}

.dark header .active .nav-link {
    color: var(--secondary-color);
}

.dark header .nav-item i {
    color: #95969a;
}

.dark header {
    background-color: #161c2d;
}

.dark .darklight {
   
    background-color:#161c2d;
    background-color: transparent;
  
}

.dark .darklight .gg-moon {
    display: none;
    cursor: pointer;
}

.dark .darklight .gg-sun {
    display: block;
    cursor: pointer;
    margin-top: 7px;
}

.dark .navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #161c2d;
}

.dark .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #161c2d;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}


.dark a.dropdown-item {
    color: white;
    transition: all 0.5s;
}

.dark a.dropdown-item:hover {
    color: var(--secondary-color);
    background-color: transparent;
}

.dark header .form-inline input {
    background: transparent;
    color: white;
}

.dark ::placeholder {
    color: white;
}

/* CAROUSEL */

/* .stdCarousel {
  
} */

.stdCarousel .container {
    max-width: 1200px;
}

.stdCarousel__bannerview {
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    min-height: 90vh;
}

.stdCarousel__bannerview:before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.banner2{
    background: url(../img/banner2.jpg);
    background-position: top right ;
    background-repeat: no-repeat no-repeat no-repeat;
    background-size: cover;
}

.banner3{
    background: url(../img/banner3.jpg);
    background-position: center right ;
    background-repeat: no-repeat no-repeat no-repeat;
    background-size: cover;
}


.stdCarousel  h5 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
    color: #fff;
    margin: 0;
}

.btnCarousel {
    display: inline-block ;
    padding: 14px 29.5px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    background: #fff;
    border: none;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.btnCarousel:hover {
    background: var(--secondary-color);
    color: #fff;
    color: #fff;
}

.stdCarousel__bg {
    max-width: 600px;
}

.owl-dots {
    margin-top: 0px;
    position: absolute;
    right: 30px;
    bottom: 121px;
    background: none;
    display: flex;
    flex-direction: column;
}

.owl-dots .owl-dot {
    margin-top: 2px;
} 

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 2px;
    background: #fff;
    background: #fff;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
    position: relative;
}


.owl-theme .owl-dots .owl-dot.active span {
    background: var(--secondary-color);
}

/* OBJECTS */
.stdObjects {
    position: relative;
    margin-top: -4em;
}

.stdObjects .stdObjects__box.color-1 {
    background-color: #037ef3;
}

.stdObjects .stdObjects__box.color-2 {
    background-color: #ffc949;
}

.stdObjects .stdObjects__box.color-3 {
    background-color:#ff4f81;
}

.stdObjects .stdObjects__box.color-4 {
    background-color: #1ee697;
}

.stdObjects .stdObjects__box {
    padding: 50px 35px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-color: var(--bg-color);
}

.stdObjects .stdObjects__box i {
    font-size: 45px;
    color: #fff;
    color: #fff;
}

.stdObjects h4 a.title-head {
    margin-top: 25px;
    display: block;
    color: #fff;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.dark .stdObjects {
    background-color: #161c2d;
}


/* STUDIOUS */

.title-heading-w3 {
    max-width: 700px;
}

.stdStudious h3.title-main, h3.title-main-2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.stdStudious h3.title-main span {
    color: var(--secondary-color);
}

.stdStudious h3.title-main:before {
    left: -20px;
    bottom: -8px;
}

.stdStudious h3.title-main:after {
    left: 20px;
    bottom: -15px;
}

h3.title-main:before, h3.title-main:after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.stdStudious .stdStudious__images span {
    color: var(--primary-color);
    font-size: 30px;
    background: rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.stdStudious h3.stdStudious__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: black;
}

.stdStudious p.stdStudious__text {
    margin-top: 15px;
    line-height: 28px;
    letter-spacing: .4px;   
    color: #707070;
}
/* DARK THEME */
.dark .stdStudious__main {
    background-color: #161c2d;
}

.dark .stdStudious h3.title-main,.dark .stdStudious h3.stdStudious__title {
    color: white;
}

.dark h3.title-main:before, h3.title-main:after {
    color: #b7b7b7;   
}

.dark .stdStudious .stdStudious__images span {
    background-color: rgb(168 176 195 / 11%);
}

.dark .stdStudious p.stdStudious__text {
    color: #b7b7b7;
}

/* CLASSES */

.stdClasses__contents{
    background-image: url(../img/bg3.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.stdClasses__items{
    padding: 30px;
    background-color: var(--bg-color);
    border-radius: 8px;
}


.stdClasses__icon i{
    font-size: 28px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: #e9edf6;
    text-align: center;
    line-height: 66px;
    margin-right: 16px;
}

.stdClasses__text h5{
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 600;
    margin-bottom: 6px;
    line-height: 30px;
}

.stdClasses__text p{
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
    margin-bottom: 0;
}


/* DARK THEME CLASSES */
.dark .stdClasses__items{
    background-color: #161c2d;
}

.dark .stdClasses__icon i{
    color: #4867b0;
    background-color: #151e37;
}

.dark .stdClasses__text h5{
    color: #fff;
    color: #fff;
}

.dark .stdClasses__text p{
    color: #b7b7b7;
}

/* NUMBER */

.stdNumbers__title{
    max-width: 700px;
}

.stdNumbers__title h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
    color: #060606;
    position: relative; 
}

.stdNumbers__title span{
    color: #ff6e65;
}

.stdNumbers__title p{
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}


h3.title-main-number::before, 
h3.title-main-number::after{
    content: "";
    background: #707070;
    height: 2px;
    width: 60px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}


h3.title-main-number::before{
    left: -20px;
    bottom: -8px;
}

h3.title-main-number::after{
    left: 20px;
    bottom: -15px;
}

.stdNumbers__digits .numberCount{
    font-size: 46px;
    font-weight: 600;
    color: #060606;
    color: #060606;
}

p.textCount{
    text-transform: uppercase;
    color: #060606;
    color: #060606;
}

.borderStdNum{
    border-right: 1px solid #eee;
}

/* DARK THEME NUMBER */

.dark .stdNumbers{
    background-color: #161c2d;
}

.dark h3.title-main-number{
    color: #fdfffc;
}

.dark .stdNumbers__title p{
    color: #b7b7b7;
}

.dark .borderStdNum div, .dark .borderStdNum p{
    color: #fdfffc;
}

.dark h3.title-main-number::before, 
.dark h3.title-main-number::after{
    background: #b7b7b7;
}



.stdFeedback__title h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.stdFeedback__title h3::before, 
.stdFeedback__title h3::after{
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.stdFeedback__title h3::before{
    left: -20px;
    bottom: -8px;
}

.stdFeedback__title h3::after{
    left: 20px;
    bottom: -15px;
}


.stdFeedback__customers{
    background: var(--bg-color);
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 68 / 10%);
    padding: 2rem;
}

.stdFeedback__customers i{
    color: var(--secondary-color);
    font-size: 27px;
    line-height: .8px;
}

.stdFeedback__customers p{
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

.stdFeedback__customer-img{
    max-width: 100%;
    height: auto;
}

.stdFeedback__customer-img img{
    border-radius: 50%;
    margin-right: 15px;
}

.stdFeedback__customer-name h5{
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 0;
}

.stdFeedback__customer-name p{
    font-size: 13px;
    color: #707070;
    margin-bottom: 0;
}

/* Dark theme feedback */
.dark .stdFeedback{
    background-color: #151c2f;
}

.dark .stdFeedback__customers{
    background-color: #161c2d;
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
}

.dark .stdFeedback__title h3{
    color: #fff;
}

.dark .stdFeedback__title h3::before,  
.dark .stdFeedback__title h3::after {
    background: #b7b7b7;
}

.dark .stdFeedback__customers p, 
.dark .stdFeedback__customer-name p{
    color: #b7b7b7;
}

.dark .stdFeedback__customer-name h5{
    color: #fff;
}


/* Instructors */

.stdInstructors__contents{
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    background: var(--bg-color);
    border-radius: 8px;
}

.stdInstructors__title h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.stdInstructors__title h3::before, 
.stdInstructors__title h3::after{
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.stdInstructors__title h3::before{
    left: -20px;
    bottom: -8px;
}

.stdInstructors__title h3::after{
    left: 20px;
    bottom: -15px;
}

.stdInstructors__title span{
    color: var(--secondary-color);
}


.stdInstructors__icons{
    background: rgb(8 8 8 / 29%);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    bottom: -227px;
    transition: all .5s;
    position: absolute;
}

.facebook, .twitter, .google{
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.stdInstructors__img{
    position: relative;
    overflow: hidden;
}

.stdInstructors__img img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.stdInstructors__icons i{
    color: var(--primary-color);
    line-height: 28px;
    font-size: 14px;
}

.stdInstructors__infor a{
    color: #060606;
    transition: all .5s;
    font-weight: 600;
}

.stdInstructors__infor small{
    font-size: 80%;
}

.stdInstructors__contents:hover .stdInstructors__icons{
    bottom: 0;
}

.stdInstructors__contents:hover .stdInstructors__infor a{
    color: var(--secondary-color);
}

/* Dark theme instructors */
.dark .stdInstructors{
    background-color: #151c2f;
}

.dark .stdInstructors__contents{
    background-color: #161c2d;
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
}

.dark .stdInstructors__title h3{
    color: #fff;
}

.dark .stdInstructors__title h3::before,  
.dark .stdInstructors__title h3::after {
    background: #b7b7b7;
}

.dark .stdInstructors__infor small{
    color: #707070;
}

.dark .stdInstructors__infor a{
    color: #fff;
}

/* CONTACT */
.stdContact__title h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.stdContact__title p{
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

.stdContact__title button{
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background: var(--secondary-color);
    color:#fff;
    transition: all .5s;
}

.stdContact__title button:hover{
    background: var(--primary-color);
}

/* Dark theme contact */

.dark .stdContact{
    background-color:  #151c2f;
}

.dark .stdContact__title h3{
    color: #fff;
}

.dark .stdContact__title p{
    color: #b7b7b7;
}

/* FOOTER */
.footer__comunity{
    padding: 50px;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    background: var(--bg-color);
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
}


.title-head{
    font-size: 35px;
    line-height: 40px;
    color: var(--heading-color);
    font-weight: 600;
}

.footer__title p{
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px ;
}

.contact-form input{
    background: transparent;
    padding: 15px 20px;
    font-size: 16px;
    color: var(--heading-color);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.contact-form button{
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.footer__archives h6{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.contact-elements ul i{
    color: #fff;
    font-size: 8px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}


.contact-elements ul a{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin-bottom: 10px;
    display: inline-block;
}

.footer__sub{
    padding: 80px 0;
    background: #060e1f;
}

.contact-elements{
    margin-top: 120px;
}

.contact-elements .contacts__cols-three i{
    font-size: 18px;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.contact-elements .contacts__cols-three a{
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}


.icon-about ul a{
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.06);
    text-align: center;
    display: inline-block;
}

.icon-about ul a i{
    font-size: 15px;
    line-height: 35px;
    margin-right: 0;
}

.icon-about ul li{
    margin-right: 10px;
}

.border-about{
    border-left: 1px solid rgb(64 73 82 / 51%);
}


.footer__copyright{
    background: #040a17;
    padding: 20px 0;
}

.footer__copyright p{
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
}

.footer__copyright a{
    color: #fff;
}




/* Dark theme contact */
.dark .footer__comunity{
    background: #161c2d;
}



/* BACK TO TOP */
.backtotop {
    display: block;
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 9;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;  
    background: var(--primary-color);
    border-radius: 4px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.backtotop:hover {
    opacity: .8;
    color: #fff;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* RESPONSIVE */

@media screen and (max-width:992px){

     /* HEADER */

    header {
          height: auto;        
      }

    .dark .header__fix {
        background-color: transparent;        
    }   

    .header__fixnav {       
        height: auto;
        padding: 0;
    }

    .dark .header__fixnav {
        background-color: #161c2d;
    }

    .header__fix {
        position: fixed;
    }  

    .navbar {
        justify-content: space-between;
        padding: 0.5rem 0rem;
    }

    .navbar .navbar-brand {
        margin-top: 2px;
    }

    .navbar-toggler {
        display: block;
        background-color: var(--primary-color);
        color: white;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 20px;
        padding: 0;
        margin-bottom: 8px;
        
    }
    
    .header__darklight {
        position: absolute;
        right: 50px;
        top: 18px;
    }

    .dark .header__darklight .gg-sun {
        margin-top: 4px;
    }

    .header__fixnav .navbar .navbar-brand img {
        margin-top: -2px;
       
    }

    .header__fixnav .navbar .navbar-brand span {
        margin-top: -1px;
    }   

    .header__fixnav .navbar .header__darklight {
        margin-top: 0px;
    }








   



    .navbar-expand-lg .navbar-nav .dropdown-menu:before {
        border: 1px solid #eee;
        border-right: none;
        border-bottom: none;
    }
    
    .navbar-expand-lg .navbar-nav .nav-item.show .nav-link.dropdown-toggle{
        margin-left: 62.5px;       
    }

    header .nav-link {
        transition:none;
    }

    header .nav-item .show i {
        right: 11px;
        transition: none;
    }

    .form-inline {
        justify-content: center;
        align-items: center;
    }












    /* Number */
    .borderStdNum{
        border-right: 0;
    }

    .stdNumbers__digits .numberCount{
        font-size: 35px;
    }

    .stdNumbers__digits .textCount{
        font-size: 15px;
   
}   

}

@media screen and (max-width:481px) {
    /* HEAR */   

    header.header__fixnav {
        height: 64px;
    }

    .navbar .navbar-brand span {
        font-size: 28px;
    }
    
    .header__darklight {
        right: 45px;    
    }
}

@media screen and (max-width:381px) {
    /* HEADER */
    
    header.header__fix {
        height: 64px;
    }

    header.header__fixnav {
        height: 54px;
    }

    .navbar .navbar-brand span{
        margin-top: -4px;
        font-size: 24px;
    }

    .navbar .navbar-brand img {
        display: block;
        height: 38px;
        width: 38px;
        margin-top: -5px;
    }
    
    .header__darklight {         
        top: 11px;  
    }
    
    .navbar-toggler {        
        margin-bottom: 10px;        
    }

    .header__fixnav .navbar .header__darklight {
        margin-top: 2px;
    }

    .header__fixnav .navbar-toggler {
        margin-bottom: 8px;
    }
}